# 1. Perkenalan
    Nama: Sandika
    Batch: 008

    Kamu adalah seorang data scientist yang bekerja di salah satu perusahaan manufaktur baterai Lithium ion. Tim produksi meminta kamu untuk mengecek apakah baterai yang mereka buat dalam kondisi bagus atau tidak. Sebelum melakukan pengecekan lebih lanjut, kamu diminta untuk menghitung hambatan/resistansi dan Daya setiap detik:
R=\frac{V}{I}

P=VI

R adalah Hambatan dalam satuan Ohm
P adalah Daya dalam Watt
I adalah kuat arus dalam satuan Ampere
V adalah tegangan dalam satuan Volt
a. Buatlah dua fungsi eksplisit masing-masing memuat perhitungan hambatan (R) dan daya (P) yang nantinya akan digunakan untuk perhitungan

b. Buat kolom baru dengan nama kolom R/P berisikan hasil perhitungan daya/hambatan dengan kriteria untuk Kapasitas >=2.5 hitung daya, Kapasitas <2.5 hitung nilai hambatan. (Hint: Gunakan for loop dan if statement untuk mengerjakan perintah nomor b, kamu bisa menggunakan list untuk menyimpan perhitungan sementara, setelahnya dapat dimasukkan ke kolom R/P).

c. Hitunglah rata-rata nilai kapasitas untuk arus = 1 Ampere dan cycle ganjil.

# 2. Import Pustaka

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('dataset/NMC1-9.csv')

In [ ]:
df.head()

   time(s)    V_m  Current (A)  Cycle       Cap
0        0  4.098        0.997      1  2.840817
1        1  4.096        0.998      1  2.840817
2        2  4.094        0.999      1  2.840817
3        3  4.093        0.998      1  2.840817
4        4  4.092        0.999      1  2.840817

# 3. Pembuatan fungsi

In [ ]:
def resist(volt,int):
    hasil = volt/int
    return hasil


def daya(volt,int):
    hasil_k = volt*int
    return hasil_k

implementasi rumus kedalam bentuk fungsi

In [ ]:
df.head()

   time(s)    V_m  Current (A)  Cycle       Cap
0        0  4.098        0.997      1  2.840817
1        1  4.096        0.998      1  2.840817
2        2  4.094        0.999      1  2.840817
3        3  4.093        0.998      1  2.840817
4        4  4.092        0.999      1  2.840817

In [ ]:
df_new = df.copy()

perintah untuk mengcopy dataset

In [ ]:
lk = [] 
j= 0 
for i in df_new['Cap']:
    if i<2.5:
        lk.append(resist(df_new['V_m'][j],df_new['Current (A)'][j]))
    else:
        lk.append(daya(df_new['V_m'][j],df_new['Current (A)'][j]))
    j=j+1 

df_new['R/P'] = lk

perintah looping dimana command lk.append(resist(df_new['V_m'][j],df_new['Current (A)'][j])) dibaca menjadi tambahkan fungsi lk kedalam tabel dimana Volt=df_new['V_m'][j] & Intensitas =df_new['Current (A)'][j]

In [ ]:
df_new.head()

   time(s)    V_m  Current (A)  Cycle       Cap       R/P
0        0  4.098        0.997      1  2.840817  4.085706
1        1  4.096        0.998      1  2.840817  4.087808
2        2  4.094        0.999      1  2.840817  4.089906
3        3  4.093        0.998      1  2.840817  4.084814
4        4  4.092        0.999      1  2.840817  4.087908

In [ ]:
df_baru=df_new[
    (df_new['Current (A)']==1)&
    (df_new['Cycle']%2==1)
]

query untuk data intensitas ==1 dan siklus ganjil

In [ ]:
df_baru.head(10)

    time(s)    V_m  Current (A)  Cycle       Cap    R/P
15       15  4.085          1.0      1  2.840817  4.085
19       19  4.083          1.0      1  2.840817  4.083
20       20  4.083          1.0      1  2.840817  4.083
21       21  4.082          1.0      1  2.840817  4.082
31       31  4.079          1.0      1  2.840817  4.079
32       32  4.078          1.0      1  2.840817  4.078
36       36  4.077          1.0      1  2.840817  4.077
46       46  4.074          1.0      1  2.840817  4.074
67       67  4.068          1.0      1  2.840817  4.068
68       68  4.068          1.0      1  2.840817  4.068

In [ ]:
df_baru.describe()

,time(s),V_m,Current (A),Cycle,Cap,R/P
count,6830.000000,6830.000000,6830.0,6830.000000,6830.000000,6830.000000
mean,44253.645095,3.615658,1.0,4.863836,2.806485,3.615658
std,28494.629896,0.314388,0.0,2.815074,0.025059,0.314388
min,15.000000,2.502000,1.0,1.000000,2.770180,2.502000
25%,22583.500000,3.428000,1.0,3.000000,2.786860,3.428000
50%,44150.500000,3.641500,1.0,5.000000,2.804878,3.641500
75%,67595.500000,3.875000,1.0,7.000000,2.823520,3.875000
max,90967.000000,4.110000,1.0,9.000000,2.840817,4.110000

diambil kesimpulan rata rata nilai kapasitas adalah 2.806485

In [ ]:
df_baru.rename(columns={'time(s)':'Waktu','V_m':'Voltase','Current (A)':'Intensitas','Cycle':'Siklus', 'Cap':'Kapasitas'})

       Waktu  Voltase  Intensitas  Siklus  Kapasitas    R/P
15        15    4.085         1.0       1   2.840817  4.085
19        19    4.083         1.0       1   2.840817  4.083
20        20    4.083         1.0       1   2.840817  4.083
21        21    4.082         1.0       1   2.840817  4.082
31        31    4.079         1.0       1   2.840817  4.079
...      ...      ...         ...     ...        ...    ...
90909  90909    2.640         1.0       9   2.770180  2.640
90923  90923    2.615         1.0       9   2.770180  2.615
90937  90937    2.589         1.0       9   2.770180  2.589
90949  90949    2.565         1.0       9   2.770180  2.565
90967  90967    2.528         1.0       9   2.770180  2.528

[6830 rows x 6 columns]

penambahan nama baru agar lebih estetik :)