# Perkenalan

Nama/Batch = Sandika/008

# Judul

Kamu adalah seorang data scientist di salah satu perusahaan e-commerce. Saat ini, kamu terlibat dalam proyek bersama dengan tim produk dan tim UI/UX untuk merubah tampilan landing page. Menggunakan dataset dari https://raw.githubusercontent.com/fahmimnalfrzki/Dataset/main/purchase_data.txt?token=AEZDEHRU5YLQEXGDDLCL6CLA2KZTI, menggunakan konsep central of tendency, apakah data cenderung berpusat pada purchased=0 atau purchased=1? dan buatlah analisa menggunakan konsep hypothesis testing dan A/B testing (Informasikan H0 dan H1 pada bagian Mathematical Calculation and Analysis). Apa kesimpulanmu terhadap hasil A/B testing?

Keterangan Dataset:

- user_id = id pelanggan
- timestamp = Waktu ketika pelanggan mengakses laman web
- group = grup kontrol dan treatment
- landing_page = landing page yang diakses oleh pelanggan (laman lama atau laman baru)
- purchased = 0 : tidak ada pembelian, and 1: ada pembelian

Beri nama file dengan: h8_p0lc3_NAMA.ipynb

# Import Pustaka

In [ ]:
import pandas as pd
from scipy import stats
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Data Loading

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/fahmimnalfrzki/Dataset/main/purchase_data.txt?token=AEZDEHRU5YLQEXGDDLCL6CLA2KZTI,', sep=';') #menggunakan separation ;
df.head()

   user_id                   timestamp      group landing_page  purchased
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294478 non-null  int64
 1   timestamp     294478 non-null  object
 2   group         294478 non-null  object
 3   landing_page  294478 non-null  object
 4   purchased     294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

In [ ]:
df.isna().sum() #tidak ada data dengan nilai NaN

user_id         0
timestamp       0
group           0
landing_page    0
purchased       0
dtype: int64

# Data Processing

In [ ]:
df2=df.groupby('landing_page')['purchased'].value_counts()
df2.head()

landing_page  purchased
new_page      0            129741
              1             17498
old_page      0            129500
              1             17739
Name: purchased, dtype: int64

In [ ]:
print ('Mean :', df['purchased'].mean())
print ('Median :', df['purchased'].median())
print ('Mode :', df['purchased'].mode())

Mean : 0.11965919355605512
Median : 0.0
Mode : 0    0
dtype: int64

dapat ditarik kesimpulan data cenderung berpusat ke purchased= 0

# Mathematical Calculation and Analysis

In [ ]:
lama = df[df['landing_page']=='old_page']['purchased']
baru = df[df['landing_page']=='new_page']['purchased']
print('Retention rate of lama version:',lama.sum()/lama.count())
print('Retention rate of baru version:',baru.sum()/baru.count())

Retention rate of lama version: 0.12047759085568362
Retention rate of baru version: 0.11884079625642663

In [ ]:
lama

0         0
1         0
4         1
5         0
7         0
         ..
294471    0
294473    0
294474    0
294475    0
294476    0
Name: purchased, Length: 147239, dtype: int64

In [ ]:
baru

2         0
3         0
6         1
8         1
9         1
         ..
294462    0
294465    0
294468    0
294472    0
294477    0
Name: purchased, Length: 147239, dtype: int64

dapat ditarik kesimpulan retention rate dari landing page versi lama dengan baru hampir sama. Untuk itu kita mengecek menggunakan hipotesa

- **H0: μ_lama = μ_baru**
- **H1: μ_lama != μ_baru**

In [ ]:
t_stat,p_val = stats.ttest_rel(lama.sample(100000),baru.sample(100000)) 
print('P-value:',p_val)

P-value: 0.9013909360182462

# Hasil

HO dapat diterima karena nilai dari P value lebih besar dari 0.05 sehingga bisa ditarik kesimpulan dari hipotesis bahwa **versi lama dan juga baru memiliki retention rate yang sama**